<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action="/action_page.php">
  Project name:<br>
  <input type="text" name="firstname" value="">
  <br>
  Supervising Club:<br>
  <input type="text" name="lastname" value="">
  <br>
  Student 1:<br>
  <input type="text" name="firstname" value="">
  <br>

  start_date:<br>
  <input type="text" name="firstname" value="">
  <br>

  end_date:<br>
  <input type="text" name="firstname" value="">
  <br>

  SIG:<br>
  <input type="text" name="firstname" value="">
  <br>

  details:<br>
  <input type="text" name="firstname" value="">
  <br>

  <br>
  <input type="submit" value="Submit">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>

</body>
</html>
