<!doctype html>
<html lang=''>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="styles.css">
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

   <title>Clubs of NITK</title>

   <header>CLUBS OF NITK</header>
</head>
<body background="https://image.shutterstock.com/image-illustration/abstract-background-explosion-grey-lights-260nw-274022123.jpg">

<div id='cssmenu'>
<ul>
   <li class='active has-sub'><a href='#'><span>IEEE</span></a>
      <ul>
         <li class='has-sub'><a href='#'><span>Members</span></a>
            <ul>
               <li class='has-sub'><a  href="/ieee_con"><span>Convenor</span></a></li>
               <li class='has-sub'><a  href='#'><span>Executive Members</span></a>
                    
                    <ul>
                        <li class='has-sub'><a  href="/ieee_m1"><span>Compsoc</span></a></li>
                        <li class='has-sub'><a  href="/ieee_m2"><span>Diode</span></a></li>
                        <li class='has-sub'><a  href="/ieee_m3"><span>Piston</span></a></li>
               
                     </ul>
                 </li> 
            </ul>
         </li>
         <li class='has-sub'><a href='#'><span>Projects</span></a>
            <ul>
               <li class='has-sub'><a id="qa1" href="/ieee_p1" ><span>Compsoc</span></a></li>
               <li class='has-sub'><a id="qa2" href="/ieee_p2"><span>Diode</span></a></li>
               <li class='has-sub'><a id="qa3" href="/ieee_p3"><span>Piston</span></a></li>
      
            </ul>
         </li>
         <li class='has-sub'><a id="e1" href="/ieee_e1"><span> Events <span></a></li>
        <!--  <li class='has-sub'><a href='edit.html'><span>Edit</span></a></li> -->
      </ul>
        
   </li>


   <li class='active has-sub'><a href='#'><span>IE</span></a>
       <ul>
         <li class='has-sub'><a href='#'><span>Members</span></a>
            <ul>
               <li class='has-sub'><a id="c2" href="/ie_con"><span>Convenor</span></a></li>
               <li class='has-sub'><a href='#'><span>Executive Members</span></a>
                     <ul>
                        <li class='has-sub'><a id="nb1" href="/ie_m1"><span>Code</span></a></li>
                        <li class='has-sub'><a id="nb2" href="/ie_m2"><span>Gadget</span></a></li>
                        <li class='has-sub'><a id="nb3" href="/ie_m3"><span>Garage</span></a></li>
               
                     </ul>
                 </li> 
            </ul>
         </li>
         <li class='has-sub'><a href='#'><span>Projects</span></a>
            <ul>
               <li class='has-sub'><a id="qb" href="/ie_p1"><span>Code</span></a></li>
               <li class='has-sub'><a id="qb2" href="/ie_p2"><span>Gadget</span></a></li>
               <li class='has-sub'><a id="qb3" href="/ie_p3"><span>Garage</span></a></li>
               
      
            </ul>
         </li>
         <li class='has-sub'><a id="e2" href="/ie_e1"><span>Events</span></a></li>
      </ul>
   </li>
   <li class='active has-sub'><a href='#'><span>ACM</span></a>
       <ul>
         <li class='has-sub'><a href='#'><span>Members</span></a>
            <ul>
               <li class='has-sub'><a id="c3" href="/acm_con"><span>Convenor</span></a></li>
                <li class='has-sub'><a href='#'><span>Executive Members</span></a>
                     <ul>
                        <li class='has-sub'><a id="nc1" href="/acm_m1"><span>Sanganitra</span></a></li>
                        <li class='has-sub'><a id="nc2" href="/acm_m2"><span>Vidyut</span></a></li>
                        <li class='has-sub'><a id="nc3" href="/acm_m3"><span>Yantrika</span></a></li>               
                     </ul>
                 </li> 
            </ul>
         </li>
        <li class='has-sub'><a href='#'><span>Projects</span></a>
            <ul>
               <li class='has-sub'><a id="qc1" href="/acm_p1"><span>Sanganitra</span></a></li>
               <li class='has-sub'><a id="qc2" href="/acm_p2"><span>Vidyut</span></a></li>
               <li class='has-sub'><a id="qc3" href="/acm_p3"><span>Yantrika</span></a></li>
                   
            </ul>
         </li>
         <li class='has-sub'><a id="e3" href="/acm_e1"><span>Events</span></a></li>
      </ul>
   </li>

   <li class='active has-sub'><a href='#'><span>ISTE</span></a>
       <ul>
         <li class='has-sub'><a href='#'><span>Members</span></a>
            <ul>
<<<<<<< HEAD
               <li class='has-sub'><a id="c4" href="/iste_con"><span>Convenor</span></a></li>
               <li class='has-sub'><a><span>Executive Members</span></a>
=======
               <li><a id="c4" href="/iste_con"><span>Convenor</span></a></li>
               <li class='has-sub'><a href='#'><span>Executive Members</span></a></li>
>>>>>>> 154aea9f61342a37c47565c0c120faad571cebc4
                 <ul>
                   <li class='has-sub'><a id="nd1" href="/iste_m1"><span>Charge</span></a></li>
                   <li class='has-sub'><a id="nd2" href="/iste_m2"><span>Crypt</span></a></li>
                   <li class='has-sub'><a id="nd3" href="/iste_m3"><span>Clutch</span></a></li>
                 </ul>
               </li>
            </ul>
         </li>
        <li class='has-sub'><a href='#'><span>Projects</span></a>
            <ul>
               <li class='has-sub'><a id="qd1" href="/iste_p1"><span>Charge</span></a></li>
               <li class='has-sub'><a id="qd2" href="/iste_p2"><span>Crypt</span></a></li>
               <li class='has-sub'><a id="qd3" href="/iste_p3"><span>Clutch</span></a></li>
      
            </ul>
         </li>
         <li class='has-sub'><a id="e4" href="/iste_e1"><span>Events</span></a></li>
      </ul>
   </li>

    <li class='active has-sub'><a href='login.html'><span>Add Info</span></a></li>
</ul>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="typeahead.min.js" type="text/javascript"></script>
<script src="../../Database/runs_query.js"></script>
<input class="typeahead tt-query" spellcheck="false" autocomplete="off" name="typeahead" type="text" />
</body>
<html>
