<!doctype html>
<html lang=''>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="styles.css">
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

   <title>Clubs of NITK</title>

   <header>CLUBS OF NITK</header>
</head>
<body>

<button id="Student">Student Data</button>
<button id="Customer">Customer Data</button>
<button id="Events">Event Data</button>
<button id="Projects">Project Data</button>

<div id='cssmenu'>
<ul>
   <li class='active has-sub'><a href='#'><span>IEEE</span></a>
      <ul>
         <li class='has-sub'><a href='#'><span>Members</span></a>
            <ul>
               <li><button id="c1">Convenor</button></li>
                <li class='has-sub'><a href='#'><span>Executive Members</span></a>
                     <ul>
                        <li><button id="s1">Compsoc</button></li>
                        <li><button id="s2">Diode</button></li>
                        <li><button id="s3">Piston</button></li>
               
                     </ul>
                 </li> 
            </ul>
         </li>
         <li class='has-sub'><a href='#'><span>Projects</span></a>
            <ul>
               <li><button id="s1">Compsoc</button></li>
               <li><button id="s2">Diode</button></li>
               <li><button id="s3">Piston</button></li>
      
            </ul>
         </li>
         <li class='has-sub'><span><button id="Student">Events</button><span></li>
        <!--  <li class='has-sub'><a href='edit.html'><span>Edit</span></a></li> -->
      </ul>
        
   </li>


   <li class='active has-sub'><a href='#'><span>IE</span></a>
       <ul>
         <li class='has-sub'><a href='#'><span>Members</span></a>
            <ul>
               <li><button id="Student">Convenor</button></li>
               <li class='has-sub'><a href='#'><span>Executive Members</span></a>
                     <ul>
                        <li><button id="Student">Code</button></li>
                        <li><button id="CON">Gadget</button></li>
                        <li><button id="CON">Garage</button></li>
                        <li><button id="CON">Script</button></li>
                        <li><button id="CON">Robotics</button></li>
               
                     </ul>
                 </li> 
            </ul>
         </li>
         <li class='has-sub'><a href='#'><span>Projects</span></a>
            <ul>
               <li><button id="Student">Code</button></li>
               <li><button id="CON">Gadget</button></li>
               <li><button id="CON">Garage</button></li>
               <li><button id="CON">Script</button></li>
               <li><button id="CON">Robotics</button></li>
      
            </ul>
         </li>
         <li class='has-sub'><button id="Student">Events</button></li>
      </ul>
   </li>
   <li class='active has-sub'><a href='#'><span>ACM</span></a>
       <ul>
         <li class='has-sub'><a href='#'><span>Members</span></a>
            <ul>
               <li><button id="Student">Convenor</button></li>
                <li class='has-sub'><a href='#'><span>Executive Members</span></a>
                     <ul>
                        <li><button id="Student">Sanganitra</button></li>
                        <li><button id="CON">Vidyut</button></li>
                        <li><button id="CON">Yantrika</button></li>
                        <li><button id="CON">Saahitya</button></li>
                        <li><button id="CON">Karyavarta</button></li>
               
                     </ul>
                 </li> 
            </ul>
         </li>
        <li class='has-sub'><a href='#'><span>Projects</span></a>
            <ul>
               <li><button id="Student">Sanganitra</button></li>
               <li><button id="CON">Vidyut</button></li>
               <li><button id="CON">Yantrika</button></li>
               <li><button id="CON">Saahitya</button></li>
               <li><button id="CON">Karyavarta</button></li>
      
            </ul>
         </li>
         <li class='has-sub'><button id="Student">Events</button></li>
      </ul>
   </li>

   <li class='active has-sub'><a href='#'><span>ISTE</span></a>
       <ul>
         <li class='has-sub'><a href='#'><span>Members</span></a>
            <ul>
               <li><button id="Student">Convenor</button></li>
               <li class='last'><button id="Student">Executive Members</button></li>
            </ul>
         </li>
        <li class='has-sub'><a href='#'><span>Projects</span></a>
            <ul>
               <li><button id="Student">Compsoc</button></li>
               <li><button id="CON">Diode</button></li>
               <li><button id="CON">Piston</button></li>
      
            </ul>
         </li>
         <li class='has-sub'><button id="Student">Events</button></li>
      </ul>
   </li>

    <li class='active has-sub'><a href='edit.html'><span>Add Info</span></a></li>
</ul>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="typeahead.min.js" type="text/javascript"></script>
<script src="../routes/button_click.js"></script>
<input class="typeahead tt-query" spellcheck="false" autocomplete="off" name="typeahead" type="text" />
</body>
<html>
